.listview {


	header {
		background-color: #60C2F1;  

		h1 {
			font-size: 3em;  
			text-align: center;  
			padding: 0.5em 0;  
		}
	}

	.albums {

		.albumholder {
		color: #FFFFFF; 
		
			img {

				width: 16em;  


			label {
				font-size: 1.25em;  
			}	

			}
		}
	}	
}

